/** Created by ge on 6/10/16. */
export const dropboxClientId = "you app id";
export const dropboxAccessToken = "your access token";

export const githubClientId = "you app id";
export const githubClientSecret = "you client secret";

/** this is the only token you need to run the tests.
 * To get this token, go to your github personal access tokens page via this link:
 * https://github.com/settings/tokens
 */
export const githubAccessToken = "your access token";

/**
 * Make Sure the test repo exists under the given username
 */
export const testRepoName = "repo name"
export const testGithubUsername = "your github username";
export const testPublicRepo = "public repo to test";
export const testPrivateRepo = "private repo to test";
